  <!-- Navigation -->
  
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container"></div>
      <a class="navbar-brand" href="{% url 'listagem' %}" style="margin: auto;">Loja</a>
      <a class="navbar-brand" href="{% url 'cadastro' %}" style="margin: auto;">Cadastro</a>
      <a class="navbar-brand" href="{% url 'login' %}" style="margin: auto;">Login</a>
      <a class="navbar-brand" href="{% url 'logout' %}" style="margin: auto;">Logout</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav>